include includes/header.pug

div(class="container no-padding max-width")
    div(class='six col')
        div(class='col-container' style="background: none")
            h1(class='subheader') Change Password
            label Password
            input(type='password' id="pw" class='form')
            label Password Check
            input(type='password' id="pwCheck" class='form')
            button(class="search" id="update" style="width: 100%" onclick="changePassword()") Change Password
    div(class='six col')
        div(class='col-container' style="background: none")
            h1(class='subheader') User Settings
            label Email
            input(type='text' class='form' id="email" value=`${user.email}`)
            label Phone
            input(type='text' class='form' id="phone" value=`${user.phone}`)
            button(class="search" id="update" style="width: 100%" onclick="userUpdate()") Update
h1() Favorites:
ul
-for(let i = 0; i < favs.length; i++)
    li(id=`fav${i}`)= favs[i].hotel_id 
    button(id=`favb${i}` onclick=`delFavorite('fav${i}', 'favb${i}')`) Remove fav!{i}
script(src="../../../js/userCode.js")